<div id="recover-password-container">
  <div fxFlex fxLayoutAlign="center center">
    <mat-card fxFlex="30" fxLayoutAlign="center start"
      ><form fxLayout="column" [formGroup]="recoverForm">
        <div id="tegister-form" fxFlex="100" fxLayout="row wrap">
          <mat-form-field fxFlex="100">
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              type="password"
            />
          </mat-form-field>
          <mat-form-field fxFlex="100">
            <input
              matInput
              placeholder="Confirm password"
              formControlName="passwordConfirmation"
              type="password"
            />
          </mat-form-field>
        </div>
        <button
          class="button"
          mat-raised-button
          color="primary"
          [disabled]="!recoverForm.valid"
          (click)="onSubmit()"
        >
          Register
        </button>
      </form></mat-card
    >
  </div>
</div>
