::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.movie-data-container {
  padding: 2%;
  margin: auto;
  width: 200px;
}

.movie-image {
  width: 100px;
  padding: 5%;
}

.progress-bar {
  width: 90%;
  margin: auto;
}
