::ng-deep.mat-menu-panel {
  max-width: none !important;
}

.movie-data-container {
  padding: 2%;
  margin: auto;
  width: 200px;
}

.movie-image {
  width: 100px;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-right: 5%;
}

.progress-bar {
  width: 90%;
  margin: auto;
}

.plex-button {
  width: 90%;
  margin: auto;
}

.movie-column {
  padding: 3%;
}

.delete-button {
  margin: auto;
}
