<mat-toolbar fxLayout="row" fxLayoutGap="15">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <button
    mat-icon-button
    [matBadge]="badgeNumber"
    [matBadgeHidden]="badgeHidden"
    matBadgePosition="before"
    matBadgeColor="accent"
    (click)="clickOnDownloadManager()"
    [matMenuTriggerFor]="downloadMenu"
  >
    <mat-icon>cloud_download</mat-icon>
  </button>
  <mat-menu class="downloadMenu" #downloadMenu="matMenu">
    <div fxFlex fxLayout="column">
      <div *ngFor="let movie of this.userMovies" fxLayout="column">
        <div fxFlex fxLayout="row">
          <img class="movie-image" [src]="movie.image" />
          <div class="movie-data-container" fxFlex fxLayout="column">
            <span>{{ movie.name }}</span>
            <br />
            <span>{{ movie.quality }}</span>
          </div>
        </div>

        <mat-progress-bar
          *ngIf="!movie.finishedDownloadingAt"
          class="progress-bar"
          mode="determinate"
          [value]="movie.downloaded.downloadedAmount"
        ></mat-progress-bar>
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="space-evenly center"
          *ngIf="!movie.finishedDownloadingAt"
        >
          <span>{{ movie.downloaded.downloadedAmount.toFixed(1) }}%</span>
          <span
            >Speed:
            {{ movie.downloaded.downloadSpeed }}
            Mb/s</span
          >
        </div>
        <a
          mat-raised-button
          color="primary"
          class="plex-button"
          *ngIf="movie.finishedDownloadingAt"
          href="http://scorched-movies.ddns.net:32400/web/index.html#!/media/43cddf073fb7b10c5a1a0edf5d6914080e09c10d/com.plexapp.plugins.library?source=3"
          >Watch on Plex</a
        >
      </div>
    </div>
  </mat-menu>
</mat-toolbar>
