#summary {
  padding: 0.2%;
  margin: 0.2%;
  text-align: justify;
  text-justify: inter-word;
  overflow: auto;
  font-size: 18px;
  flex-grow: 1;
}

#image-title-container {
  max-height: 90%;
  margin: auto;
}

#movie-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  padding: 1%;
  margin: auto;
}

#title {
  font-size: 20px;
  padding: 3%;
  margin: auto;
}

#button-container {
  margin-top: auto;
  padding: 3%;
}

.download-button {
  width: 25%;
}
