.movie-container {
  margin: 0.5%;
  flex-grow: 1;
  cursor: pointer;
}
#container {
  margin: auto;
  flex-grow: 1;
}

#paginator {
  margin-top: auto;
}

#search-bar {
  padding-right: 3%;
}

#icon {
  margin: auto;
  width: 80%;
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

#search-container {
  width: 40%;
  margin: auto;
  margin-top: 0.5%;
  border-color: darkgray;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-radius: 28px;
}
